body{
    margin-left: 10px;
}

.redButton {
    background-color: red;
    font-size: 12;
    color: white;
    border: 10px solid yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blueButton {
    background-color: blue;
    font-size: 12;
    color: white;
}


#para1 {
    color: green;
}

.bz-green {
    color: green;
}

.bz-blue{
    color: blue;
}

/* CTRL + / */

table,th,td {
    /* THICKNESS TYPE COLOR*/
    
    border-width: 2px;
    border-color: blue;
    border-style: solid; 
   
    /* border: 2px solid red; */
}

th {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

.pDisplay {
    background-color: #FF0000;
    color: green;
}